/** Classes **/ 

body.bg {
    background-color: rgb(255, 229, 214);
}

div.bg {
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    background-color: rgba(146, 134, 128, 0.5);
    margin: -15px 15% 0% 15%;
    padding: 1.25% 0% 1.25% 0%;
    height: 110%;
    width: 70%;
    position: absolute;
    text-align: center;
}

 
div.mg {
    background-color: rgba(231, 200, 187, 0.6);
    width: auto;
    border-radius: 10px;
    margin: 1.25%;

    display: flex;
    flex-flow: column;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 1.25%;
}

.button {
    display: flex;
    align-content: center;
    justify-content: center;

    background-color: rgba(83, 41, 100, 0.75);
    
    height: 80%;
    width: 12%;
    margin: auto 5px auto 5px ;
    border-radius: 10px;
}

h2.button-text {
    color: rgba(231, 200, 187, 0.6);
    font-weight: 800;
    font-family: sans-serif;

    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.button:hover {
    height: 81%;
    width: 13%;

    font-size: 102%;
}

.button_link {
    display: inline-block;
    width: 100%;
    height: 100%;
    /*justify-content: center;*/
    text-decoration: none;
}